<!doctype html>
<html lang="ZH-cn">
  <head>
    <meta charset="utf-8">
    <title>$pageTitle</title>
	<meta  name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.8, maximum-scale=1.0,user-scalable=yes"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/favicon.png" type="image/png">
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
  	<link rel="stylesheet" type="text/css" href="css/styles.css?v=1.0">
  </head>
  <body>
  	<header></header>
  	<nav></nav>
  	<article></article>
  	<aside></aside>
  	<footer></footer>

  	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  	<script>
	$(function(){
	}); // END jQuery.ready
	</script>
  </body>
</html>
